/Test.arff
/weka.classifiers.bayes.BayesNet.arff
/weka.classifiers.bayes.NaiveBayes.arff
/weka.classifiers.bayes.NaiveBayesMultinomial.arff
/weka.classifiers.functions.GaussianProcesses.arff
/weka.classifiers.functions.LinearRegression.arff
/weka.classifiers.functions.Logistic.arff
/weka.classifiers.functions.MultilayerPerceptron.arff
/weka.classifiers.functions.SGD.arff
/weka.classifiers.functions.SMO.arff
/weka.classifiers.functions.SimpleLinearRegression.arff
/weka.classifiers.functions.SimpleLogistic.arff
/weka.classifiers.functions.VotedPerceptron.arff
/weka.classifiers.lazy.IBk.arff
/weka.classifiers.lazy.KStar.arff
/weka.classifiers.rules.DecisionTable.arff
/weka.classifiers.rules.JRip.arff
/weka.classifiers.rules.M5Rules.arff
/weka.classifiers.rules.OneR.arff
/weka.classifiers.rules.PART.arff
/weka.classifiers.rules.ZeroR.arff
/weka.classifiers.trees.DecisionStump.arff
/weka.classifiers.trees.J48.arff
/weka.classifiers.trees.LMT.arff
/weka.classifiers.trees.M5P.arff
/weka.classifiers.trees.REPTree.arff
/weka.classifiers.trees.RandomForest.arff
/weka.classifiers.trees.RandomTree.arff
